/* color palette from <https://github.com/vuejs/theme> */
@import 'vue3-toastify/dist/index.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

/* semantic color variables for this project */
:root {
  --color-border: 255 148 8;
  --color-border-hover: 149 18 44;

  --color-heading: 202 63 22;
  --color-secondary: 219 224 225;

  --color-primary: #fd2282;
  --section-gap: 10rem;
}

.dark {
  --color-background: 20 32 48;
  --color-foreground: 243 244 245;

  --modal-background: 11 23 60;
  --modal-text: 205 214 238;
  --color-kbd: #193950;
  --color-theme-btn-bg: 31 41 55;
}

.light {
  --color-background: 244 237 228;
  --color-foreground: 16 12 8;

  --modal-background: 235 236 240;
  --modal-text: 11 23 61;
  --color-kbd: #dfe2e4;
  --color-theme-btn-bg: 219 224 225;
}

body {
  color: rgb(var(--color-foreground));
  background-color: rgb(var(--color-background));
  line-height: 1.6;
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: clip;
  min-height: 100svh;
  max-width: 90rem;
  margin-inline: auto;
}

.modal {
  top: 20%;
  width: 90%;
  max-width: 26rem;
  border: none;
  border-radius: 10px;
  background-color: rgb(var(--modal-background));
  color: rgb(var(--modal-text));
}

dialog {
  --opacity: 0;

  scale: 0.5;

  &,
  &::backdrop {
    opacity: var(--opacity);
    transition: all 0.7s ease-in-out allow-discrete;
  }

  &::backdrop {
    background-color: rgba(0, 0, 0, 0.3);
    -webkit-backdrop-filter: blur(3px);
    backdrop-filter: blur(3px);
  }

  &:where([open]) {
    --opacity: 1;
    scale: 1;
  }
}

/* not supported in firefox yet */
@starting-style {
  dialog:where([open]) {
    --opacity: 0;
    scale: 0.5;
    left: 10rem;
  }

  dialog:where([open])::backdrop {
    --opacity: 0;
  }
}

@media (min-width: 47.8125rem) {
  .modal {
    /* width: 70%; */
  }
}
