/* color palette from <https://github.com/vuejs/theme> */
@import 'vue3-toastify/dist/index.css';

@import "tailwindcss";

@theme {
  --color-cb: 255 148 8;
  --color-cbh: 149 18 44;
  --color-heading: 202 63 22;
  --color-secondary: 219 224 225;
  --color-primary: #fd2282;
  --color-background: 244 237 228;
  --color-foreground: 16 12 8;
  --color-modal-bg: 235 236 240;
  --color-modal-text: 11 23 61;
  --color-kbd: #dfe2e4;
  --color-theme-btn: 219 224 225;

  --spacing-section: 10rem;

  --background-image-art: url("/src/assets/bg.jpg");
  --background-image-galaxy: url("/src/assets/galaxy.jpg");
  --background-image-light: url("/src/assets/light.jpg");

  --animate-slide-in: slide-in 900ms cubic-bezier(0.39, 0.575, 0.565, 1);

  --font-roboto: "Roboto", sans-serif;

  @keyframes slide-in {
    from {
      translate: 0 -50%;
      opacity: 0;
    }
    to {
      translate: 0;
      opacity: 1;
    }
  }
}

@variant dark (&:where(.dark, .dark *));

.dark {
  --color-background: 20 32 48;
  --color-foreground: 243 244 245;
  --color-modal-bg: 11 23 60;
  --color-modal-text: 205 214 238;
  --color-kbd: #193950;
  --color-theme-btn: 31 41 55;
}

/* semantic color variables for this project */

body {
  color: rgb(var(--color-foreground));
  background-color: rgb(var(--color-background));
  line-height: 1.6;
  font-family: var(--font-roboto);
  font-size: 1rem;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: clip;
  min-height: 100svh;
  max-width: 90rem;
  margin-inline: auto;
}

.modal {
  inset: 0;
  margin: auto;
  width: 90%;
  max-width: 26rem;
  border: none;
  border-radius: 10px;
  background-color: rgb(var(--color-modal-bg));
  color: rgb(var(--color-modal-text));
}

dialog {
  --opacity: 0;

  scale: 0.5;

  &,
  &::backdrop {
    opacity: var(--opacity);
    transition: all 0.7s ease-in-out allow-discrete;
  }

  &::backdrop {
    background-color: rgba(0, 0, 0, 0.3);
    -webkit-backdrop-filter: blur(3px);
    backdrop-filter: blur(3px);
  }

  &:where([open]) {
    --opacity: 1;
    scale: 1;
  }
}

/* not supported in firefox yet */
@starting-style {
  dialog:where([open]) {
    --opacity: 0;
    scale: 0.5;
  }

  dialog:where([open])::backdrop {
    --opacity: 0;
  }
}

@media (min-width: 47.8125rem) {
  .modal {
    /* width: 70%; */
  }
}
